img {
		max-width: 100%;
		max-height:600px;
	}	
.img {
		width: 150px;	
		margin: 40px 0px 0px 0px;
		min-height:150px;
		
	}
.pagebg{
	background: url(../images/header.jpg);
	background-size: cover;
	height: 100vh;
	color:#f7f7f7;
	font-weight: 700;
}
.letterspace4{
	letter-spacing: 4px;
	font-size: 8rem;
	margin: 35vh 0px 3vh;
}
.letterspace2{
	letter-spacing: 2px;
}
.mynav{
	background: #ecf0f1;
	font-weight: 700;
}
.active{
	transition: all 0.3s;
}
.font16{
	font-size: 16px;
}
.gby{
	letter-spacing: 2px;
	font-weight: 900;
}
.margin{
	margin: 80px 0 5px 0;
	font-weight:700;
	font-size: 63px;
}
.margin + p{
	font-size: 20px;
	color:#34495e;
	font-weight:300;
	
}
.img ~ h3{
	margin: 30px 0 15px 0;
	font-size: 20px;
	font-weight: 600;
}
.img ~ h3 ~ p {
	margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
   color:dimgrey;
}
.showbox{
	
	padding-top: 90px;
	padding-bottom: 90px;
	
}
.mt100{
	margin-top: 100px;
	background-color: #f8f8f8;
}
.foot{
	height:400px;
	padding-top:200px;
	
}
.foot a{
	color:#ccc;
}
.foot a:hover{
	text-decoration:none;
	color:#eee;
}
.foot a:nth-of-type(1){
	margin-right: 10px;
}
.re5{
	font-size: 4rem;
}
.footbg{
	background:url("../images/ican.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
@media screen and (min-width: 1366px) {
				.footbg{
						background:url("../images/ican.png");
						background-size: cover;
						background-repeat: no-repeat;
				}
				
			}
